<a href="https://colab.research.google.com/github/ridwanrahmat/project_analisis_data_dicoding/blob/main/Proyek_Analisis_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: Bike Sharing
- **Nama:** Ridwan Rahmat
- **Email:** lapaknyaridwan@gmail.com
- **ID Dicoding:** ridwanrahmat

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
Bagaimana pola penggunaan sepeda berubah sepanjang hari? Apakah ada waktu tertentu di mana penggunaan sepeda paling tinggi atau paling rendah?
- Pertanyaan 2
Apakah cuaca memengaruhi jumlah penggunaan sepeda? Misalnya, apakah cuaca hujan mengurangi jumlah peminjaman sepeda?

## Import Semua Packages/Library yang Digunakan

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import plotly.express as px
import warnings
import sklearn
import datetime
import statsmodels.api as sm

## Data Wrangling

### Gathering Data

In [8]:
df_day = pd.read_csv("https://raw.githubusercontent.com/ridwanrahmat/project_analisis_data_dicoding/main/Dataset/day.csv")
df_hour = pd.read_csv("https://raw.githubusercontent.com/ridwanrahmat/project_analisis_data_dicoding/main/Dataset/hour.csv")

print(df_day.head())
print(df_hour.head())

   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1        0        6           0
1        2  2011-01-02       1   0     1        0        0           0
2        3  2011-01-03       1   0     1        0        1           1
3        4  2011-01-04       1   0     1        0        2           1
4        5  2011-01-05       1   0     1        0        3           1

   weathersit      temp     atemp       hum  windspeed  casual  registered  \
0           2  0.344167  0.363625  0.805833   0.160446     331         654
1           2  0.363478  0.353739  0.696087   0.248539     131         670
2           1  0.196364  0.189405  0.437273   0.248309     120        1229
3           1  0.200000  0.212122  0.590435   0.160296     108        1454
4           1  0.226957  0.229270  0.436957   0.186900      82        1518

    cnt
0   985
1   801
2  1349
3  1562
4  1600
   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

Data dikumpulkan dari dataset yang berbentuk file CSV yang telah diberikan dan dihosting di Github (df_day dan df_hour) menggunakan pd.read_csv(). Dataset ini berisi data harian dan jam yang terkait dengan proyek bike sharing data

### Assessing Data

In [14]:
print('Dataframe day:')
print(df_day.info())
print('\nDataframe day:')
print(df_day.describe())
print('\nDataframe day:')
print(df_day.isna().sum())
print('Dataframe day:', df_day.duplicated().sum())
print('\nDataframe day:')
print(df_day.isnull().sum())

print('\nDataframe hour:')
print(df_hour.info())
print('\nDataframe hour:')
print(df_hour.describe())
print('\nDataframe hour:')
print(df_hour.isna().sum())
print("Dataframe hour:", df_hour.duplicated().sum())
print('\nDataframe hour:')
print(df_hour.isnull().sum())

Dataframe day:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
None

Dataframe day:
          instant      season          yr        mnth     holiday     weekday  \
count  731.000000  731.000000  731.000000  731.000000  731.000000  731.000000
mean   366.000000    2.496580    0.500684    6.519836    0.028728    2.997264
std    211.165812    1.110807    0.500342    3.451913    0.167155    2.004787
min      1.000000    1.000000    0.000000    1.000000    0.000000    0.000000
25%    183.500000    2.000000    0.000000    4.000000    0.000000    1.000000
50%    366.000000    3.000000    1.000000    7.000000    0.000000    3.000000
75%    548.500000    3.000000    1.000000   10.000000    0.000000    5.000000
max    731.000000    4.000000    1.000000   12.000000    1.000000    6.000000

       workingday  weathersit        temp       atemp         hum   windspeed  \
count  731.000000  731.000000  731.000000  731.000000  731.000000  731.000000
mean     0.683995    1.395349    0.495385    0.474354    0.627894    0.190486
std      0.465233    0.544894    0.183051    0.162961    0.142429    0.077498
min      0.000000    1.000000    0.059130    0.079070    0.000000    0.022392
25%      0.000000    1.000000    0.337083    0.337842    0.520000    0.134950
50%      1.000000    1.000000    0.498333    0.486733    0.626667    0.180975
75%      1.000000    2.000000    0.655417    0.608602    0.730209    0.233214
max      1.000000    3.000000    0.861667    0.840896    0.972500    0.507463

            casual   registered          cnt
count   731.000000   731.000000   731.000000
mean    848.176471  3656.172367  4504.348837
std     686.622488  1560.256377  1937.211452
min       2.000000    20.000000    22.000000
25%     315.500000  2497.000000  3152.000000
50%     713.000000  3662.000000  4548.000000
75%    1096.000000  4776.500000  5956.000000
max    3410.000000  6946.000000  8714.000000

Dataframe day:
instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64
Dataframe day: 0

Dataframe day:
instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

Dataframe hour:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB
None

Dataframe hour:
          instant        season            yr          mnth            hr  \
count  17379.0000  17379.000000  17379.000000  17379.000000  17379.000000
mean    8690.0000      2.501640      0.502561      6.537775     11.546752
std     5017.0295      1.106918      0.500008      3.438776      6.914405
min        1.0000      1.000000      0.000000      1.000000      0.000000
25%     4345.5000      2.000000      0.000000      4.000000      6.000000
50%     8690.0000      3.000000      1.000000      7.000000     12.000000
75%    13034.5000      3.000000      1.000000     10.000000     18.000000
max    17379.0000      4.000000      1.000000     12.000000     23.000000

            holiday       weekday    workingday    weathersit          temp  \
count  17379.000000  17379.000000  17379.000000  17379.000000  17379.000000
mean       0.028770      3.003683      0.682721      1.425283      0.496987
std        0.167165      2.005771      0.465431      0.639357      0.192556
min        0.000000      0.000000      0.000000      1.000000      0.020000
25%        0.000000      1.000000      0.000000      1.000000      0.340000
50%        0.000000      3.000000      1.000000      1.000000      0.500000
75%        0.000000      5.000000      1.000000      2.000000      0.660000
max        1.000000      6.000000      1.000000      4.000000      1.000000

              atemp           hum     windspeed        casual    registered  \
count  17379.000000  17379.000000  17379.000000  17379.000000  17379.000000
mean       0.475775      0.627229      0.190098     35.676218    153.786869
std        0.171850      0.192930      0.122340     49.305030    151.357286
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.333300      0.480000      0.104500      4.000000     34.000000
50%        0.484800      0.630000      0.194000     17.000000    115.000000
75%        0.621200      0.780000      0.253700     48.000000    220.000000
max        1.000000      1.000000      0.850700    367.000000    886.000000

                cnt
count  17379.000000
mean     189.463088
std      181.387599
min        1.000000
25%       40.000000
50%      142.000000
75%      281.000000
max      977.000000

Dataframe hour:
instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64
Dataframe hour: 0

Dataframe hour:
instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64



*    Berdasarkan hasil observasi pada df_day, terdapat kesalahan dalam jenis data pada kolom dteday yang awalnya berupa objek, tetapi seharusnya berupa tipe data datetime.
*   Dari hasil pemeriksaan pada dataset df_day dan df_hour, tidak ada nilai yang hilang atau kosong.
*  Berdasarkan pemeriksaan duplicate data, tidak ada data yang terduplikasi

### Cleaning Data

In [17]:
# df_day
df_day["dteday"] = pd.to_datetime(df_day["dteday"])
print('df_day["dteday"] : ', df_day["dteday"].dtypes)

df_day["dteday"] :  datetime64[ns]

Mengkonversi kolom "dteday" dalam DataFrame df_day menjadi tipe data datetime, dan kemudian mencetak tipe data dari kolom "dteday" setelah konversi dilakukan. Hal ini berguna untuk memastikan bahwa konversi berhasil dilakukan dan data sudah siap untuk digunakan dalam operasi yang melibatkan tanggal dan waktu.

In [18]:
# df_hour
df_hour["dteday"] = pd.to_datetime(df_hour["dteday"])
print('df_hour["dteday"] : ', df_hour["dteday"].dtypes)

df_hour["dteday"] :  datetime64[ns]

In [21]:
df_day.fillna(method='ffill', inplace = True)
df_hour.fillna(method = 'ffill', inplace=True)
print(df_day)
print(df_hour)

     instant     dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1 2011-01-01       1   0     1        0        6           0
1          2 2011-01-02       1   0     1        0        0           0
2          3 2011-01-03       1   0     1        0        1           1
3          4 2011-01-04       1   0     1        0        2           1
4          5 2011-01-05       1   0     1        0        3           1
..       ...        ...     ...  ..   ...      ...      ...         ...
726      727 2012-12-27       1   1    12        0        4           1
727      728 2012-12-28       1   1    12        0        5           1
728      729 2012-12-29       1   1    12        0        6           0
729      730 2012-12-30       1   1    12        0        0           0
730      731 2012-12-31       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
0             2  0.344167  0.363625  0.805833   0.160446     331         654
1             2  0.363478  0.353739  0.696087   0.248539     131         670
2             1  0.196364  0.189405  0.437273   0.248309     120        1229
3             1  0.200000  0.212122  0.590435   0.160296     108        1454
4             1  0.226957  0.229270  0.436957   0.186900      82        1518
..          ...       ...       ...       ...        ...     ...         ...
726           2  0.254167  0.226642  0.652917   0.350133     247        1867
727           2  0.253333  0.255046  0.590000   0.155471     644        2451
728           2  0.253333  0.242400  0.752917   0.124383     159        1182
729           1  0.255833  0.231700  0.483333   0.350754     364        1432
730           2  0.215833  0.223487  0.577500   0.154846     439        2290

      cnt
0     985
1     801
2    1349
3    1562
4    1600
..    ...
726  2114
727  3095
728  1341
729  1796
730  2729

[731 rows x 16 columns]
       instant     dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0            1 2011-01-01       1   0     1   0        0        6           0
1            2 2011-01-01       1   0     1   1        0        6           0
2            3 2011-01-01       1   0     1   2        0        6           0
3            4 2011-01-01       1   0     1   3        0        6           0
4            5 2011-01-01       1   0     1   4        0        6           0
...        ...        ...     ...  ..   ...  ..      ...      ...         ...
17374    17375 2012-12-31       1   1    12  19        0        1           1
17375    17376 2012-12-31       1   1    12  20        0        1           1
17376    17377 2012-12-31       1   1    12  21        0        1           1
17377    17378 2012-12-31       1   1    12  22        0        1           1
17378    17379 2012-12-31       1   1    12  23        0        1           1

       weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0               1  0.24  0.2879  0.81     0.0000       3          13   16
1               1  0.22  0.2727  0.80     0.0000       8          32   40
2               1  0.22  0.2727  0.80     0.0000       5          27   32
3               1  0.24  0.2879  0.75     0.0000       3          10   13
4               1  0.24  0.2879  0.75     0.0000       0           1    1
...           ...   ...     ...   ...        ...     ...         ...  ...
17374           2  0.26  0.2576  0.60     0.1642      11         108  119
17375           2  0.26  0.2576  0.60     0.1642       8          81   89
17376           1  0.26  0.2576  0.60     0.1642       7          83   90
17377           1  0.26  0.2727  0.56     0.1343      13          48   61
17378           1  0.26  0.2727  0.65     0.1343      12          37   49

[17379 rows x 17 columns]

Setelah melakukan pembersihan data menggunakan metode fillna(method='ffill'), data yang telah dibersihkan akan memiliki nilai-nilai yang sebelumnya hilang (NaN) digantikan dengan nilai dari baris sebelumnya dalam DataFrame. Namun, dalam kasus ini, karena tidak ada nilai-nilai yang hilang dalam data yang diberikan, penggunaan fillna(method='ffill') pada data tersebut tidak akan mengubah data sama sekali.

## Exploratory Data Analysis (EDA)

### Explore ...

In [22]:
print("Data Bike Sharing Setiap Jam:")
print(df_hour.head())

Data Bike Sharing Setiap Jam:
   instant     dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1 2011-01-01       1   0     1   0        0        6           0
1        2 2011-01-01       1   0     1   1        0        6           0
2        3 2011-01-01       1   0     1   2        0        6           0
3        4 2011-01-01       1   0     1   3        0        6           0
4        5 2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

In [24]:
df_hour['hour'] = pd.to_datetime(df_hour["dteday"]).dt.hour

In [25]:
df_hour_average = df_hour.groupby('hour')['cnt'].mean()

In [ ]:
sns.catplot(x='hr', y='cnt', hue='workingday', kind='bar', data=df_hour, aspect=3)
plt.figure(figsize=(10, 6))
df_hour_average.plot(kind='line', marker='o', color='b')
plt.title('Pola Penggunaan Sepeda Setiap Jam')
plt.xlabel('Jam dalam Sehari')
plt.ylabel('Jumlah Rata-rata Sepeda yang Dipinjam')
plt.xticks(range(0, 24))
plt.grid(True)
plt.show()

## Visualization & Explanatory Analysis

### Pertanyaan 1:

In [28]:
df_hour['hour'] = pd.to_datetime(df_hour["dteday"]).dt.hour

In [29]:
df_hour_average = df_hour.groupby('hour')['cnt'].mean().reset_index()

In [31]:
max_hour = df_hour_average.loc[df_hour_average['cnt'].idxmax()]
min_hour = df_hour_average.loc[df_hour_average['cnt'].idxmin()]

In [ ]:
peak_hours = df_hour.groupby(['workingday', 'hr'])['cnt'].mean().unstack(0)
peak_hours.plot(kind='bar', figsize=(15, 5))
plt.title('Rata-rata Jumlah Peminjaman Sepeda per Jam: Hari Kerja (1) vs Akhir Pekan (0)')
plt.xlabel('Jam')
plt.ylabel('Rata-rata Jumlah Peminjaman')
plt.legend(title='Hari Kerja')

In [ ]:
plt.annotate(f'Maksimum: Jam {int(max_hour["hour"])}', xy=(max_hour['hour'], max_hour['cnt']), xytext=(max_hour['hour'] - 3, max_hour['cnt'] + 50),
             arrowprops=dict(facecolor='black', shrink=0.05))

In [ ]:
plt.annotate(f'Minimum: Jam {int(min_hour["hour"])}', xy=(min_hour['hour'], min_hour['cnt']), xytext=(min_hour['hour'] + 1, min_hour['cnt'] - 50),
             arrowprops=dict(facecolor='black', shrink=0.05))

plt.show()

### Pertanyaan 2:

In [ ]:
# Filter musim hujan (season 4)
filtered_data = df_day[df_day["season"] == 4]

# Buat plot dengan Plotly untuk menganalisis pengaruh cuaca terhadap jumlah sewa sepeda
fig = px.bar(filtered_data, x="weathersit", y="cnt", title="Pengaruh Cuaca terhadap Jumlah Sewa Sepeda (Musim Hujan)")
fig.update_xaxes(title="Cuaca (weathersit)")
fig.update_yaxes(title="Jumlah Sewa Sepeda (cnt)")

# Tampilkan plot
fig.show()



*   **Filter Data**: Baris pertama filtered_data = df_day[df_day["season"] == 4] bertujuan untuk memfilter data berdasarkan musim hujan. Filter ini dilakukan dengan mengambil baris-baris dari DataFrame df_day di mana nilai kolom "season" adalah 4, yang menunjukkan musim hujan.
*  **Membuat Plot**: Selanjutnya, kode menggunakan Plotly untuk membuat plot bar yang menampilkan pengaruh cuaca terhadap jumlah sewa sepeda selama musim hujan. Plot ini dibuat dengan memasukkan data yang sudah difilter (filtered_data) sebagai input untuk plot. Variabel x menunjukkan kolom "weathersit" yang merupakan kategori cuaca, sedangkan variabel y menunjukkan jumlah sewa sepeda ("cnt").
*   **Update Label Axis**: Kode kemudian memperbarui label sumbu x dan y dengan menggunakan metode update_xaxes() dan update_yaxes() untuk memberi judul pada sumbu x dan y.
*   **Tampilkan Plot**: Terakhir, kode menggunakan fig.show() untuk menampilkan plot yang telah dibuat.

## Conclusion



1.   Selama hari kerja, terjadi tren yang menarik dalam pola peminjaman sepeda di mana tingkat peminjaman mencapai puncaknya selama jam-jam sibuk saat orang berangkat ke tempat kerja di pagi hari, dan kemudian kembali lagi di sore atau awal malam setelah jam kerja selesai. Sebaliknya, pada akhir pekan, pola peminjaman menjadi lebih merata sepanjang hari, dengan lonjakan tertentu yang terjadi terutama pada siang hari. Hal ini menunjukkan bahwa perilaku peminjaman sepeda pada hari kerja dan akhir pekan memiliki perbedaan yang signifikan dalam pola dan trennya.


2.   Cuaca memengaruhi jumlah sewa sepeda selama musim hujan, dengan menggunakan plot bar menggunakan Plotly. Hasil analisis menunjukkan bahwa cuaca berpengaruh besar terhadap jumlah sepeda yang disewa. Ketika cuaca cerah atau sebagian berawan, lebih banyak orang cenderung menyewa sepeda. Penyedia layanan sewa sepeda perlu memperhatikan kondisi cuaca untuk menyesuaikan persediaan dan strategi pemasaran.